﻿
<div ng-controller="About">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
    </div>

@section scripts
<script src="~/Scripts/Views/Home/About.cshtml.js"></script>
}