﻿@{
    ViewBag.Title = "Home Page";
}
<div ng-controller="Index">
    <h2>Login</h2>
    {{Message}}
    <form novalidate name="LoginForm" ng-submit="On_Login()">
        <div ng-show="!IsLogedIn">
            <table>
                <tr>
                    <td>User Name</td>
                    <td><input type="text" ng-model="UserData.UserName" ng-class="IsSubmited?'ng-dirty':''" required autofocus /></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="text" ng-model="UserData.Password" ng-class="IsSubmited?'ng-dirty':''" required autofocus /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
        </div>
        <div ng-show="IsChattng">
            <input type="button" style="width:100px" value="Chatting room" ng-click="On_GoChattingRoom()"/>
        </div>
    </form>

</div>




@section scripts{
    <script src="~/Scripts/Views/Home/Index.cshtml.js"></script>
}