﻿<!DOCTYPE html>
<html ng-app="BPApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



</head>
<body ng-cloak>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Home/Index"> Home </a></li>
                </ul>
              
            </div>
        </div>
    </div>
    <div class="container body-content" ng-controller="Layout">

            @RenderBody()
  
        <hr />

        <footer >
            
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/anglular")

    @Scripts.Render("~/bundles/bootstrap")
    @*<script src="~/Scripts/Config/Rounting.js"></script>*@
    <script src="~/Scripts/Views/Shared/_Layout.cshtml.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>


