﻿
@{
    ViewBag.Title = "Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Room</h2>

<div class="container"   ng-controller="Room" ng-init="init()">
    <div class="row " style="padding-top:40px;">
        <h3 class="text-center">Reservation </h3>
        <br /><br />
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    RECENT CHAT HISTORY
                </div>
                <div class="panel-body">
                    <ul class="media-list" ng-repeat="i in Conversation">

                        <li class="media">

                            <div class="media-body">

                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle " ng-src="{{i.BotImageURL}}"  />
                                    </a>
                                    <div class="media-body">
                                      {{i.TextValue}}
                                        <hr />
                                    </div>
                                </div>

                            </div>
                        </li>

                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter Message" ng-model="AnswerText"/>
                        <p ng-show="!IsValidEmail" style="color:red;">
                            Please write your valid email
                        </p>
                        <p ng-show="!IsValidMobileNumber" style="color:red;">
                            Please write your valid mobile number
                        </p>
                        <p ng-show="!IsValidDate" style="color:red;">
                            Please write your valid date for reservation
                        </p>
                        
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button"  ng-click="On_SendAnswer()">SEND</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    ONLINE USERS
                </div>
                <div class="panel-body">
                    <ul class="media-list">

                        <li class="media">

                            <div class="media-body">

                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle" style="max-height:40px;" src="~/Content/images/dummy50.jpg" />
                                    </a>
                                    <div class="media-body">
                                        <h5>User1 | May I help you </h5>

                                        <small class="text-muted">Bot</small>
                                    </div>
                                </div>

                            </div>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>


@section scripts{
<script src="~/Scripts/Views/Chatting/Room.cshtml.js"></script>
}